html[lab-style*=dark] {
    --dark-0:#101010;
    --dark-1:#141414;
    --dark-2:#131313;
    --dark-3:#1f1f1f;
    --dark-4:#2b2b2b;
    --dark-5:#333;
    --dark-6:#393939;
    --dark-card:#151515;
    --bg:#1c2022;
    --divider:#2f2f02;
    --dark-font-0:#e8e8e8;
    --dark-font-1:#99a2aa;
    --dark-font-2:#879199;
    --dark-font-3:#d9d9d9
}