.mode-fullscreen, .mode-webfullscreen {
    position: fixed !important;
    border-radius: 0 !important;
    z-index: 100000 !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 auto !important;
    padding: 0 !important;
}
body.player-mode-webfullscreen {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

iframe.player-fullscreen-fix {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 100000 !important;
}

.zw-event-delegate {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
}
.zw-top-overlay {
    z-index: 99 !important;
}